[mysqld]
## unique id
server_id=101  
## schema filter
binlog-ignore-db=mysql  
## binlog
log-bin=replicas-mysql-slave1-bin  
## binlog cache
binlog_cache_size=1M  
## binlog format (row, statement, mix)
binlog_format=mixed  
## 1
expire_logs_days=7  
## skip error
## 1062: primary key duplicate
slave_skip_errors=1062  
## relay_log
relay_log=replicas-mysql-relay-bin  

log_slave_updates=1  
## make db read only (can be change)
read_only=1